body {
    background: linear-gradient(
        to bottom,
        #f7a8c8 0%,
        #f5b4d0 40%,
        #f8c6db 100%
    );

    color: #5c3a4a;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;

    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

h1 {

    margin-bottom: 10px;
}

#message {

    margin-bottom: 20px;

    font-size: 18px;
}

#board {

    display: grid;

    grid-template-rows: repeat(6, 1fr);

    gap: 8px;

    width: fit-content;

    margin: auto;
}

.row {

    display: flex;

    gap: 8px;
}

.tile {
    width: 80px;
    height: 80px;

    border: 2px solid #e7b8c8;
    background-color: rgba(255,255,255,0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 36px;
    font-weight: bold;

    transition: transform 0.1s;
}

.green {
    background-color: #a8e6a3;
    color: #2c4a2c;
}

.yellow {
    background-color: #ffe08a;
    color: #6a5a20;
}

.gray {
    background-color: #d9c8cf;
    color: #5c3a4a;
}

#controls {

    margin-top: 30px;
}

input {

    width: 120px;

    font-size: 22px;

    text-transform: uppercase;

    text-align: center;
}

button {
    font-size: 18px;
    padding: 8px 20px;

    background-color: #ffb6d5;
    border: none;
    border-radius: 10px;

    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #ff9fc8;
}
.flip {

    animation: flip 0.6s ease;
}

@keyframes flip {

    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}




body::before,
body::after {
    content: "❤ ❤ ❤ ❤ ❤";
    position: fixed;
    font-size: 50px;
    opacity: 0.15;
    pointer-events: none;
    z-index: -1;
    color: #ff5c9d;
}

body::before {
    left: -300px;
    top: 25%;
    animation: floatHearts 20s linear infinite;
}

body::after {
    left: -400px;
    top: 70%;
    animation: floatHearts 28s linear infinite;
}

@keyframes floatHearts {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(calc(100vw + 500px));
    }
}

