body {
    background: linear-gradient(
        to bottom,
        #f7a8c8 0%,
        #f5b4d0 40%,
        #f8c6db 100%
    );

    color: #5c3a4a;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;

    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

h1 {

    margin-bottom: 10px;
}

#message {

    margin-bottom: 20px;

    font-size: 18px;
}

#board {

    display: grid;

    grid-template-rows: repeat(6, 1fr);

    gap: 8px;

    width: fit-content;

    margin: auto;
}

.row {

    display: flex;

    gap: 8px;
}

.tile {
    width: 80px;
    height: 80px;

    border: 2px solid #e7b8c8;
    background-color: rgba(255,255,255,0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 36px;
    font-weight: bold;

    transition: transform 0.1s;
}

.green {
    background-color: #a8e6a3;
    color: #2c4a2c;
}

.yellow {
    background-color: #ffe08a;
    color: #6a5a20;
}

.gray {
    background-color: #d9c8cf;
    color: #5c3a4a;
}

#controls {

    margin-top: 30px;
}

input {

    width: 120px;

    font-size: 22px;

    text-transform: uppercase;

    text-align: center;
}

button {

    font-size: 18px;
    padding: 8px 18px;

    background-color: #ff4d6d;
    color: white;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {

    background-color: #e63956;
    transform: scale(1.05);
}
.flip {

    animation: flip 0.6s ease;
}

@keyframes flip {

    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}




.heart {
    position: fixed;
    bottom: -50px;
    color: #ff4f92;
    opacity: 0.15;
    z-index: -1;
    pointer-events: none;
}

.heart1 {
    left: 10%;
    font-size: 40px;
    animation: rise 12s linear infinite;
}

.heart2 {
    left: 30%;
    font-size: 60px;
    animation: rise 15s linear infinite;
}

.heart3 {
    left: 50%;
    font-size: 45px;
    animation: rise 18s linear infinite;
}

.heart4 {
    left: 70%;
    font-size: 55px;
    animation: rise 14s linear infinite;
}

.heart5 {
    left: 90%;
    font-size: 35px;
    animation: rise 16s linear infinite;
}

@keyframes rise {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-120vh);
    }
}

